.git
.gitignore
.gitattributes
.DS_Store
.idea
.vscode
*.iml
*.iws
*.ipr

README.md
HELP.md
postman
docker
docker-compose.yml

.mvn
mvnw
mvnw.cmd
src
pom.xml

target/classes
target/generated-sources
target/generated-test-sources
target/jkube-temp
target/maven-archiver
target/maven-status
target/test-classes
target/swagger.yml
target/*.jar.original
